#topBanner{
    background-color: #673AB7;
    height: 40vh;
    position: relative;
    
}

#loginInner{
    position: absolute;
    display: flex;
    top: 20vh;
    left: 31vw;
    background-color: #fff;
    padding: 30px;
    height: 70vh;
    width: 40vw;
    box-shadow: 2px 4px 10px 2px rgb(184, 177, 177);
    border-radius: 10px;
    justify-content: center;    
    /* align-items: center; */
}